<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello Async</title>
    <script type="text/javascript">

      // let a = new Promise((resolve, reject) => {
      //   setTimeout(() => {
      //     reject(10);
      //   }, 3000);
      // });
      //
      //
      // let aPromise = a.then(
      //   res => ++res,
      //   err => console.log(err)
      // )
      // // .then(param => console.log('Tiep theo:' + param));
      //
      // console.log(aPromise);
      //
      // setTimeout(() => {
      //   console.log(aPromise);
      // }, 3500);
      //
      // setTimeout(() => {
      //   console.log(a);
      // }, 3500);

      // let a = Promise.reject(10);
      // a.then()
      // .catch()
      // console.log(a);

    </script>
  </head>
  <body>
    <h1>KhoaPham Training</h1>
  </body>
</html>
