<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello Async</title>
    <script type="text/javascript">

      let a = new Promise((resolve, reject) => {
        setTimeout(() => {
          resolve(10);
        }, 3000);
      });


      let aPromise = a.then(res => ++res)
      .then(param => console.log('Tiep theo:' + param));

      console.log(aPromise);

      setTimeout(() => {
        console.log(aPromise);
      }, 3500);
      
    </script>
  </head>
  <body>
    <h1>KhoaPham Training</h1>
  </body>
</html>
